// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

html,
body,
main {
  margin: 0;
}

body {
  background-color: #fff;
  color: $black;
  //&.opened-menu {
  //  @include r(1024) {
  //  overflow: hidden;
  //  }
  //}
}


/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

img {
  max-width: 100%;
}

.btn-reset {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  max-width: 100%;
  font-size: 16px;
  font-weight: 400;
  transition: all .3s ease-in-out;
  &:focus,
  &:active {
    outline: none;
    border: none;
    box-shadow: none;
  }
  &_gold {
    background-color: $gold;
    color: #fff;
    &:hover {
      color: #fff;
      background-color: $green;
    }
  }
}

.tabs {
  &__content {
    display: none;
    &.is-active {
      display: block;
    }
  }
}
