.inner-nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 0 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  &__item {
    border: 1px solid $green;
  }
  &__link {
    display: block;
    padding: 10px;
    color: $green;
    transition: color .3s ease-in-out, background-color .3s ease-in-out;
    &.is-active,
    &:hover {
      background-color: $green;
      color: #fff;
    }
  }
}

.banner {
  margin-bottom: 40px;
  &__inner {
    position: relative;
    height: 250px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__title {
    position: absolute;
    left: 30px;
    bottom: 30px;
    color: #fff;
    font-weight: 700;
    font-size: 48px;
  }
}

.content {
  margin-bottom: 95px;
  b {
    font-weight: 700;
  }
  p {
    margin-bottom: 15px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  h2 {
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 28px;
    &.green {
      margin-bottom: 30px;
      font-size: 36px;
      color: $green;
    }
  }
  .number-list {
    counter-reset: myCounter;
    li {
      display: flex;
      align-items: baseline;
      margin-bottom: 20px;
      padding-bottom: 11px;
      border-bottom: 1px solid $green;
      &:last-child {
        margin-bottom: 0;
      }
      &::before {
        counter-increment: myCounter;
        content:"0"counter(myCounter);
        font-size: 24px;
        margin-right: 20px;
        color: $green;
      }
    }
  }
  hr {
    background-color: $green;
    margin-bottom: 40px;
  }
  .caption {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .sub-caption {
    margin: 0 auto 40px;
    font-size: 20px;
    max-width: 850px;
  }
  img {
    display: block;
  }
  .grey-block {
    padding: 20px;
    background-color: #f5f5f5;
  }
}

.tariffs {
  margin-bottom: 70px;
  &__row {
    display: flex;
    align-items: stretch;
    gap: 1px;
    margin-bottom: 1px;
    width: 100%;
    @include r(576) {
      flex-direction: column;
    }
    &_head {
      gap: 0 1px;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 calc((100% - 3px) / 4);
    padding: 25px 10px;
    text-align: center;
    color: #343434;
    font-size: 20px;
    background-color: #e9e9e9;
    @include r(576) {
     flex: 0 0 100%;
      width: 100%;
      padding: 15px;
    }
    span {
      display: block;
      font-weight: 700;
    }
    p {
      font-size: 15px;
    }
    &_head {
      background-color: $green;
      color: #fff;
    }
  }
}

.add-service {
  margin-bottom: 40px;
  &__row {
    display: flex;
    align-items: stretch;
    gap: 1px;
    margin-bottom: 1px;
    width: 100%;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 0 0 25%;
    padding: 25px 3px;
    text-align: center;
    color: #343434;
    font-size: 20px;
    background-color: #e9e9e9;
    @include r(576) {
      flex: 0 0 100%;
      width: 100%;
      padding: 15px;
    }
    &:nth-child(2) {
      flex: 0 0 50%;
    }
    span {
      display: block;
      font-weight: 700;
    }
  }
}

.decor-list {
  li {
    display: flex;
    align-items: center;
    padding-left: 70px;
    position: relative;
    font-size: 20px;
    min-height: 60px;
    &:not(:last-child) {
      margin-bottom: 35px;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 60px;
      background-image: url("data:image/svg+xml,%3Csvg width='50' height='60' viewBox='0 0 50 60' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M43.5427 32.9603C42.7574 38.1739 40.1396 41.7969 40.1396 41.7969H41.1867C41.1867 41.7969 37.4345 46.1268 34.9912 45.8617C34.6422 45.8617 40.1396 41.2667 41.8848 31.8116C42.6701 27.3933 41.7103 22.6216 41.7103 22.6216C42.7574 23.4169 44.2408 28.1886 43.5427 32.9603ZM38.0453 20.059C38.0453 20.059 38.4816 23.1518 38.3071 26.9515C38.0453 33.9323 36.2129 37.9971 33.1588 41.6201C32.3734 42.5921 25.5672 48.7777 25.5672 48.7777C31.3263 48.8661 36.6492 42.5921 36.6492 42.5921H35.253C35.253 42.5038 38.6562 39.0575 39.9651 32.3418C41.0122 26.6864 39.0052 21.5612 39.0052 21.5612L38.0453 20.059ZM31.2391 42.5921H28.883C28.883 42.5921 35.9511 37.6437 35.9511 27.1282C35.9511 21.4728 35.0785 17.2313 35.0785 17.2313L33.246 14.1385V16.2593C33.246 18.3801 32.3734 21.2078 31.0645 22.5332C29.6684 23.8587 27.8359 24.7424 25.7417 24.7424C28.7958 25.8027 32.1117 24.2122 33.7696 21.4728C34.2059 25.0958 34.4677 29.249 33.1588 32.7836C32.1117 35.6113 30.4537 37.9972 28.7085 39.9412V37.1135L26.7888 35.788C26.7888 35.788 26.7888 38.6157 26.7015 38.5273C26.7015 38.5273 25.7417 37.9971 25.3926 37.5553C24.4328 36.6717 23.6474 35.3462 23.6474 35.3462C23.6474 35.3462 23.7347 38.5273 23.5602 38.439C21.5532 37.2019 21.2042 35.0811 21.2042 35.0811V37.2902C21.2042 37.2902 20.4188 36.8484 19.808 36.2298C19.1972 35.6113 18.7609 34.5509 18.7609 34.5509L13.6998 35.5229L13.089 37.5553L14.0488 36.6717L17.7138 35.9647C17.7138 35.9647 18.1501 36.6717 18.8481 37.467C19.5462 38.2622 20.7679 39.0575 20.7679 39.0575V38.439C22.0768 39.9412 22.3385 40.2946 22.9494 40.6481C24.2583 41.5318 25.2181 41.9736 25.2181 41.9736C25.2181 41.9736 25.2181 39.411 25.3054 39.411C25.3054 39.411 26.0035 40.5597 27.2251 41.2667C24.6946 43.6525 22.3385 45.0664 21.815 45.4198C21.7277 45.5082 18.4991 47.4522 18.6736 47.4522C24.6073 49.3079 31.2391 42.5921 31.2391 42.5921ZM43.281 39.1459C44.2408 35.4346 46.7714 30.3094 43.8045 21.7379C45.0262 23.1518 45.8115 25.3609 46.1605 27.3933C46.1605 26.7748 46.1605 26.1562 46.0733 25.5376C45.2879 17.7615 41.0122 11.9294 36.5619 9.01335C33.7696 7.15768 31.5008 6.62749 30.9773 7.59951C30.4537 8.39479 31.0645 11.0457 31.1518 11.841C31.2391 13.52 31.5881 16.8779 30.0174 18.2033C28.0104 19.8823 22.4258 15.3756 22.4258 15.3756C22.4258 15.3756 23.2111 15.6407 24.0837 14.0502C24.171 13.9618 24.171 13.7851 24.2583 13.6967C24.7818 11.9294 24.8691 10.2505 23.822 6.80422C24.171 6.62749 24.8691 6.36239 25.3926 6.18566C22.164 6.27403 19.2844 6.18566 19.1972 6.18566C19.1972 7.77624 17.452 7.59951 17.452 6.80422C15.794 6.80422 14.8342 6.62749 15.0087 9.01335C15.0087 9.01335 16.1431 8.83662 16.4921 8.74825C19.3717 8.57152 19.808 11.2225 19.6335 13.0782C19.3717 14.8455 18.4991 14.492 17.5392 17.5848C16.6666 21.4728 18.2373 23.5052 20.157 26.5097C18.4991 25.626 18.3246 25.5377 17.1902 24.3005C17.801 27.2166 19.6335 30.5745 20.0698 31.3698C23.0366 30.5745 23.7347 29.7792 23.7347 29.5141V31.5465C23.2984 32.2534 21.2914 32.6069 17.9755 33.3138C13.3508 34.1091 13.438 34.1974 12.7399 33.7556C12.2164 33.4022 12.0419 32.7836 11.8673 32.5185C11.7801 32.5185 9.51132 32.7836 8.98776 32.872C8.72598 32.9603 8.37694 33.3138 8.4642 33.844C8.55146 34.4625 8.9005 34.6393 9.59858 34.6393V34.816C9.59858 34.816 8.72598 34.9044 8.81324 35.788C8.9005 36.6717 9.86036 36.6717 9.86036 36.6717V36.76C9.86036 36.76 9.07502 37.0251 9.24954 37.9088C9.42406 38.7924 10.2967 38.6157 10.5584 38.6157L12.6527 38.3506L13.2635 43.2991L11.1693 43.5642L10.733 39.3226C10.5584 39.3226 10.2094 39.411 9.94762 39.411C9.59858 39.411 8.37694 39.411 8.11516 38.2622C7.94064 37.3786 8.4642 37.0251 8.4642 37.0251C8.37694 36.9368 7.67886 36.8484 7.5916 36.1415C7.41708 35.3462 8.0279 34.9927 8.11516 34.9044C8.11516 34.9044 7.50434 34.7276 7.41708 33.9323C7.24256 33.1371 7.67886 32.6952 7.85338 32.6069C8.0279 32.4301 8.20242 32.3418 8.4642 32.2534H8.55146L4.62476 32.6952C4.62476 32.6952 6.10818 28.8955 10.3839 28.6304C14.8342 28.277 16.7539 31.4581 16.7539 31.4581L13.0017 31.8116C13.089 32.0767 13.3508 32.4301 13.6125 32.6069C14.3106 32.9603 17.0157 32.2534 18.0628 32.0767H18.1501C17.7138 31.1047 15.8813 27.0399 15.2705 23.2402C13.8743 23.3285 11.3438 23.3285 11.082 22.9751C10.5584 22.0914 10.8202 22.003 10.5584 21.1194C10.2967 20.2357 8.9005 19.8823 8.28968 20.6776C7.50434 21.6496 7.76612 22.9751 9.51132 23.2402C9.42406 23.2402 9.51132 23.2402 9.51132 22.8867H10.0349C10.0349 23.5052 10.1221 23.8587 10.4712 24.1238C9.07502 24.3005 8.11516 23.7703 7.67886 23.0634C7.32982 23.1518 7.06804 23.0634 6.719 23.0634C6.54448 23.2402 6.36996 23.5052 6.45722 23.8587C6.54448 24.5656 7.06804 24.7424 7.41708 24.7424C8.0279 24.7424 8.37694 23.9471 8.37694 23.9471V25.3609H15.445C15.445 25.3609 14.2234 27.3933 12.1291 28.1886C11.3438 28.5421 10.2967 28.7188 9.16228 28.7188C7.1553 28.6304 5.75914 27.9235 4.9738 27.1282C4.18846 26.3329 3.57764 25.4493 3.57764 25.4493H6.719C6.36996 25.2726 5.93366 25.0075 5.67188 24.4773C5.32284 23.682 5.58462 23.1518 5.93366 22.8867C5.75914 22.7983 5.58462 22.71 5.49736 22.5332C5.32284 22.3565 5.14832 22.0914 5.06106 21.8263C4.88654 21.2961 4.88654 20.7659 5.06106 20.3241C5.23558 19.7939 5.8464 19.1754 6.54448 19.087C7.24256 18.9986 7.76612 19.1754 8.28968 19.4404V14.9338H10.3839L10.4712 19.1754C10.9075 19.1754 11.3438 19.3521 11.6056 19.8823C11.8673 20.4125 11.8673 21.2078 11.8673 21.2078C11.8673 21.2078 11.7801 21.9147 12.5654 22.0914H15.0087C14.9214 21.2078 14.9214 20.4125 15.0087 19.6172C15.2705 18.0266 15.794 16.8779 16.2303 16.0826C16.4049 15.9058 16.4921 15.6407 16.6666 15.5524L17.5392 14.492C18.3246 13.52 18.6736 12.8131 18.5864 11.5759C18.4118 9.72027 14.7469 9.54354 14.3106 10.6923C13.9616 10.1621 13.9616 9.54354 13.9616 8.92498C13.9616 8.30643 14.2234 7.95297 14.3106 7.59951C14.3979 6.27403 15.794 6.18566 16.8412 6.0973C16.8412 3.44634 23.9965 4.50672 26.527 6.36239C26.2652 6.45076 25.2181 7.06931 25.2181 7.06931C25.9162 8.48316 26.527 13.6083 26.6143 16.5244C28.883 17.6731 28.7085 14.5804 28.2722 10.6039C28.0977 8.65989 28.6213 7.42278 29.4066 6.53912C30.1919 5.65547 31.3263 5.65547 32.1989 5.74384C35.9511 6.00893 46.7714 12.1945 47.2077 25.4493C47.4694 31.0163 44.8516 38.3506 43.281 39.1459ZM7.50434 19.7939C7.1553 19.5288 5.49736 19.6172 5.49736 20.7659C5.49736 21.4728 5.75914 21.7379 6.10818 21.9147C6.2827 22.003 6.54448 22.0914 6.719 22.0914C6.63174 21.2961 6.89352 20.4125 7.50434 19.7939Z' fill='%23006050'/%3E%3Cpath d='M50 40.648C49.9127 42.4153 49.4764 45.3314 47.8185 47.8056C46.7714 49.3962 45.3752 50.6333 43.63 51.6053C42.2339 52.4006 40.8377 52.9308 39.267 53.461C37.6091 53.9912 35.8639 54.433 34.2059 54.8748C32.8098 55.2283 31.3264 55.6701 29.9302 56.2003C28.8831 56.6421 27.9232 57.0839 26.9634 57.7909C26.178 58.4094 25.4799 59.1163 24.9564 60H24.8691C24.8691 59.9116 24.7819 59.8233 24.7819 59.8233C24.171 58.7629 23.2112 57.9676 22.164 57.349C21.0297 56.6421 19.8953 56.2003 18.6736 55.7585C17.103 55.2283 15.5323 54.8748 13.9616 54.433C12.3037 53.9912 10.6457 53.5493 9.07504 52.9308C7.59162 52.3122 6.19546 51.6053 4.88656 50.7216C2.96684 49.3078 1.65794 47.4521 0.8726 45.243C0.52356 44.1826 0.17452 43.0339 0.08726 41.8851C0.08726 41.3549 0 41.0898 0 40.2062C0.08726 26.1561 0.08726 0 0.08726 0H50V40.648ZM25.1309 57.349C25.2182 57.2607 25.3054 57.2607 25.3054 57.1723C25.6545 56.7305 26.0908 56.2887 26.5271 55.9352C27.4869 55.1399 28.6213 54.5214 29.8429 54.0795C31.3264 53.461 32.8098 53.0191 34.3805 52.6657C35.9511 52.2239 37.6091 51.8704 39.1798 51.3402C40.6632 50.81 42.1466 50.2798 43.5428 49.4845C45.637 48.2474 47.2077 46.6568 48.2548 44.6244C49.0401 42.9455 49.4764 41.0898 49.5637 39.2342C49.651 38.1738 49.651 37.1134 49.651 36.053V0.530191H0.61082V37.025C0.61082 37.9971 0.69808 38.9691 0.78534 39.9411C0.8726 41.0015 1.13438 42.0619 1.48342 43.1222C2.1815 45.4197 3.57766 47.2754 5.49738 48.7776C6.71902 49.6613 8.02792 50.2798 9.42408 50.81C10.9075 51.4286 12.3909 51.782 13.9616 52.2239C15.445 52.6657 16.9284 53.0191 18.4991 53.461C19.808 53.8144 21.0297 54.2563 22.164 54.9632C23.2984 55.4934 24.2583 56.2887 25.1309 57.349Z' fill='%23006050'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
    }
  }
}

.contacts {
  &__item {
    display: flex;
    align-items: flex-start;
    gap: 0 50px;
    font-size: 20px;
    &:not(:last-child) {
      margin-bottom: 25px;
    }
    span {
      fLex: 0 0 40%;
    }
  }
}

.news-item {
  position: relative;
  margin-bottom: 60px;
  &__img {
    margin-bottom: 20px;
    width: 100%;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  &__caption {
    font-family: "CTET", serif;
    font-size: 22px;
    color: $green;
  }
  &__date {
    color: #8A8A8A;
  }
  &__description {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.4;
  }
  &__link {
    display: block;
    font-size: 15px;
    line-height: 1.4;
    color: $green;
    border-bottom: 1px solid currentColor;
    width: max-content;
    transition: color .3s ease-in-out;
    &:hover {
      color: $gold;
    }
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.news {
  &__date {
    margin-bottom: 30px;
    font-size: 18px;
    color: #8a8a8a;
  }
  &__content {
    p {
      font-size: 18px;
      line-height: 1.4;
    }
  }
}
