<nav class="nav">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <ul class="nav__list">
          <li class="nav__item">
            <a href="" class="nav__link">О компании</a>
            <ul class="sub-menu">
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Новости</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">О Гознаке</a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Услуги</a>
            <ul class="sub-menu">
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Сертификация монет</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Нумизматическая экспертиза</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Спектральный анализ монет</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Чистка монет</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Фотографирование монет</a>
              </li>
            </ul>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link">Сертификация монет и слабирование</a>
            <ul class="sub-menu">
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Что такое Грейдинг и слабирование</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Виды слабов</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Описание процесса</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Шкала оценки</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Условия оплаты</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Прейскурант</a>
              </li>
              <li class="sub-menu__item">
                <a href="" class="sub-menu__link">Сроки</a>
              </li>
            </ul>
          </li>
          <li class="nav__item"><a href="" class="nav__link">Контакты</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
